body {
  font-family: 'Prompt', sans-serif;
  padding-top: 70px; /* ระยะห่างจาก Header */
}
.invoice-title {
  font-size: 2rem;
  font-weight: 600;
}
/* ซ่อนปุ่มตอนสั่งพิมพ์ */
@media print {
  .no-print {
    display: none !important;
  }

  .yes-print {
    padding-top: -50px;
    margin-top: -100px;
    padding-bottom: -100px;
  }

  /* บังคับให้ตารางขยายตามเนื้อหา */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
    table-layout: auto !important; /* ให้ตารางขยายตามเนื้อหา */
  }

  th,
  td {
    border: 1px solid black !important;
    padding: 8px;
    font-size: 12px;
    /* text-align: left; */
    vertical-align: center; /* จัดข้อความให้อยู่ด้านบน */
    white-space: normal !important; /* อนุญาตให้ข้อความขึ้นบรรทัดใหม่ */
    word-wrap: break-word !important; /* ป้องกันข้อความล้น */
  }

  /* ป้องกันการตัดตารางข้ามหน้า */
  tr {
    page-break-inside: avoid;
  }
}

/* style สำหรับ Ref กลายเป็น input เมื่อ double-click */
.ref-edit-input {
  width: 80px;
}
.banner-image {
  /* max-width: 950px; */
  width: 60%;
  height: auto;
  /* display: block; */
}
.custom-bg {
  background-color: #031070;
}
