body {
  font-family: "Prompt", sans-serif;
  padding-top: 70px; /* ระยะห่างจาก Header */
}
.invoice-title {
  font-size: 2rem;
  font-weight: 600;
}
/* ซ่อนปุ่มตอนสั่งพิมพ์ */
@media print {
  .no-print {
    display: none !important;
  }
}
/* style สำหรับ Ref กลายเป็น input เมื่อ double-click */
.ref-edit-input {
  width: 80px;
}
.banner-image {
  /* max-width: 950px; */
  width: 60%;
  height: auto;
  /* display: block; */
}
