body {
  background: linear-gradient(to bottom right, #e7f0fd, #ffffff);
  font-family: "Prompt", sans-serif;
  padding-top: 70px; /* ระยะห่างจาก Header */
}

h1 {
  font-weight: 600;
}

.form-control {
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
}

.card {
  border-radius: 0.5rem;
}

.card-body,
.card-header {
  border-radius: 0.5rem;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-label {
  font-weight: 600;
}
/* เพิ่มแอนิเมชัน */

/* เมนู */

/* สีพื้นหลังตามสถานะ */
/* สีพื้นหลังตามสถานะ */
.status-รอดำเนินการ {
  background-color: #f0f0f0; /* สีเทาอ่อน */
  border-left: 4px solid #c4c4c4; /* เส้นขอบเทา */
}

.status-จองแล้ว {
  background-color: #d0e7ff; /* ฟ้าอ่อน */
  border-left: 4px solid #5ab4f7; /* เส้นขอบฟ้า */
}

.status-ดำเนินการอยู่ {
  background-color: #ffe8a1; /* เหลืองสด */
  border-left: 4px solid #ffc107; /* เส้นขอบเหลือง */
}

.status-เสร็จสมบูรณ์ {
  background-color: #d4f7d4; /* เขียวสด */
  border-left: 4px solid #28a745; /* เส้นขอบเขียว */
}
.status-ยกเลิก {
  background-color: #f8d7da; /* แดงอ่อน */
  border-left: 4px solid #dc3545; /* แดงเข้ม */
}

.status-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

#inlineCalendarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* ให้ครอบคลุมพื้นที่ */
}

#inlineCalendar {
  width: 100%; /* ให้ปฏิทินพอดีกับกรอบ */
}

.action-buttons a,
.action-buttons button {
  font-size: 0.9rem; /* ลดขนาดข้อความ */
  padding: 8px 10px; /* ลด Padding */
}

.flatpickr-calendar {
  /* width: auto; */
  width: 100%; /* Adjust based on content */
  max-width: 400px; /* Define a more flexible limit */
  margin: 0 auto; /* Center the calendar */
  /* padding: 10px; */
}
@media (max-width: 768px) {
  .flatpickr-calendar {
    width: auto; /* ให้ปรับขนาดอัตโนมัติบนจอเล็ก */
  }
}

.col-md-3 {
  border-right: 1px solid #ddd; /* เส้นแบ่งด้านขวา */
  padding-right: 15px; /* เพิ่มระยะห่างภายใน */
}

.col-md-9 {
  padding-left: 15px; /* เพิ่มระยะห่างด้านซ้าย */
}

/* table_booking.html
.filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
table th {
  background-color: #007bff;
  color: white;
}

.view-details-btn:disabled {
  pointer-events: none;
  opacity: 0.6;
} */
